<launch>
    <node pkg="platform_control" type="global_motor_control.py" name="global_motor_control" output="screen"/>
    <node pkg="platform_control" type="motor_control_xy.py" name="motor_control_xy" output="screen"/>
    <node pkg="platform_control" type="motor_control_z.py" name="motor_control_z" output="screen"/>
</launch>
